body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('assets/PixelGameBackground.jpg');
    background-size: cover;
}



#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/20250420manaSoul9SlicesB-Sheet.png');
    color: white;
}


#menu header {
  font-family: 'MedievalSharp', cursive; 
  font-size: 100px;
}

#menu button {
    font-size: 2rem;
    padding: 1rem 3rem;
    margin: 1rem;
    cursor: pointer;
    background-image: url('assets/20250420manaSoulHeaderA-Sheet.png');
    background-size: cover;
    background-position: center;
    border: none;
}


canvas {
    display: none;
}


.DeathScreenBackground{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('assets/deathScreenBackground.jpg');
    background-size: cover;
}

